* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand img {
  width: 145px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__navigation ul li :hover {
  color: #2B62E0;
}

.app-bar .app-bar__navigation ul li span {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px;
  border-radius: 20px;
}

/* HOMEPAGE */

.command-sign {
  margin-left: 40px;
}

.join-room {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.join-room input {
  padding: 5px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.join-room p {
  font-size: small;
  color: #DB0000;
  font-style: italic;
}

.inputUser {
  margin-top: 5px;
}

.join-room button {
  margin-top: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.join-room button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contentInput {
  display: flex;
  justify-content: space-around;
}

.contentInput img {
  width: 250px;
}

.contentInput {
  display: flex;
}

.home{
  width: 100%;
  min-height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-home {
  padding-left: 90px;
  padding-right: 50px;
}

.text-home h2{
  font-size: 50px;
  padding-bottom: 20px;
}

.text-home h2 span{
  color: #2B62E0;
}

.text-home p {
  font-size: 20px;
  line-height: 30px;
}

.pic-home {
  padding-right: 70px;
  padding-top: 30px;
}

.pic-home img {
  width: 450px;
  height: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: #EBECF0;
  padding: 80px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: ease-in all 0.5s;
  max-width: 200px;
}

.img-icon {
  background-color: #2B62E0;
  padding: 25px;
  width: 100px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.card p {
  color: black;
}

.card h3 {
  padding: 30px 0 5px 0;
}

#next2 {
  display: none;
}

.next img {
  width: 50px;
  padding-top: 30px;
}

.card:hover {
  cursor: pointer;
  background-color: #2B62E0;
}

.card:hover .img-icon {
  cursor: pointer;
  background-color: #fec955;
}

.card:hover h3 {
  cursor: pointer;
  color: white;
}

.card:hover p {
  cursor: pointer;
  color: white;
}

.card:hover #next {
  display: none;
  cursor: pointer;
}

.card:hover #next2 {
  display: block;
  cursor: pointer;
}

.benefit {
  padding: 40px;
  display: flex;
}

#next2 {
  display: none;
}

.next img {
  width: 50px;
  padding-top: 30px;
}

.card:hover {
  cursor: pointer;
  background-color: #2B62E0;
}

.card:hover .img-icon {
  cursor: pointer;
  background-color: #fec955;
}

.card:hover h3 {
  cursor: pointer;
  color: white;
}

.card:hover p {
  cursor: pointer;
  color: white;
}

.card:hover #next {
  display: none;
  cursor: pointer;
}

.card:hover #next2 {
  display: block;
  cursor: pointer;
}

/* CREATE ROOM */

.command-sign {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.command-sign #command-sign-icon {
  width: 250px;
}

.command-sign #command-sign-text {
  padding-top: 30px;
  font-size: 20px;
}

.command-sign #command-sign-text hr {
  border: 2px rgba(43, 98, 224, 1);
}

.day-options {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.day-options #day-options {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 300px;
}

.day-options #day-options input {
  margin-right: 10px;
}

form button, #submit-button {
  height: 45px;
  width: 160px;
  border-radius: 30px;
  background-color: rgba(43, 98, 224, 1);
  border: 1px solid rgba(43, 98, 224, 1);
  color: white;
}

form button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form input {
  height: 35px;
  width: 300px;
  border: 1px solid rgb(247, 247, 247);
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 15px;
  padding: 5px 15px;
}

#room-info #label, #input-form #create-button {
  visibility: hidden;
}

#room-info #label #rooms-name-label {
  margin-right: 80px;
  padding-bottom: 30px;
}

.day-options #room-info {
  display: flex;
  justify-content: space-between;
}

.day-options #room-info #input-form, .day-options #room-info #input-form #date-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*
  Movies
*/

.movies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  Movie Item
*/

.movie-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.movie-item__header {
  position: relative;
}

.movie-item .movie-item__header .movie-item__header__poster {
  width: 100%;
}

.movie-item .movie-item__header .movie-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.movie-item .movie-item__header .movie-item__header__rating .movie-item__header__rating__score {
  margin-left: 10px;
}

.movie-item .movie-item__content {
  padding: 16px;
}

.movie-item .movie-item__content h3 {
  margin: 0 0 10px 0;
}

.movie-item .movie-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.movie-item .movie-item__content h3 a:hover {
  color:#2B62E0;
}

.movie-item .movie-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  Movie
*/

.movie {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.movie .movie__poster {
  width: 100%;
  max-width: 400px;
}

.movie .movie__info h4 {
  margin: 8px 0;
}

/*
  Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Button
*/

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #DB0000;
  border: 1px solid #770000;
  border-radius: 4px;
 
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
 
  cursor: pointer;
  transition: .15s ease-in-out;
}

.btn:hover {
  background-color: #DB0000BB;
}

.btn:active {
  background-color: #DB0000DD;
}

.btn:focus-visible {
  outline: 3px solid #DB000055;
}

/* DETAIL ROOM */

.command-sign #room-description {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

#room-description div {
  padding: 15px 0 0 20px;
}

#room-description #event-description {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

#room-description img {
  width: 80px;
}

#room-description p {
  margin-right: 20px;
}

#result {
  margin-top: 40px;
}

#input-form {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  text-align: center;
}

.start-to-finish {
  display: flex;
}

form #date {
  height: 35px;
  width: 400px;
  margin: 40px 0 20px 0;
  border-radius: 30px;
  background-color: rgba(43, 98, 224, 1);
  border: 1px solid rgba(43, 98, 224, 1);
  color: white;
  box-shadow: 0 5px 10px grey;
}

form #description {
  display: flex;
  justify-content: space-evenly;
}

.detile-room #submit-button {
  margin: 20px 0 0 46.5%;
}

.time-inputs button {
  background-color: white;
  padding: 0;
  border: none;
}

/* DETAIL-STATUS */
#status_table {
  width: 50%;
}

.user_status table th {
  background-color: #2B62E0;
  border-radius: 10px;
  padding: 4px;
}

.user_status table td {
  text-align: center;
}

#laman a {
  text-decoration: none;
  color: black;
}

#laman p span a {
  color: #2B62E0;
}

#resultButton {
  border: none;
  margin: auto;
  width: 10%;
  text-align: center;
  margin-top: 20px;
}

#resultButton button {
  background-color: #2B62E0;
  border: none;
  padding: 10px;
  border-radius: 9px;
}

/* DETAIL-RESULT */
.schedule h5{
  text-align: center;
  background-color: #2B62E0;
  border-radius: 10px;
  color: white;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hour-title{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.hour {
  display: flex;
}

.hour p{
  padding: 8px;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.user_status>table {
  margin-left: auto;
  margin-right: auto;
}

/* DETAIL-VOTING */
.voting {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.voting table {
  width: 60%;
  text-align: center;
}

.voting th, .voting td {
  padding: 10px;
}

.voting th {
  background-color: #2B62E0;
  border-radius: 20px;
}